<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="confuturo" connectionString="Data Source=prevqa2;Persist Security Info=True;User ID=pensiones;Password=pensiones" providerName="System.Data.OracleClient" />
	</connectionStrings>
	<appSettings>
		<add key="DataSource" value="Data Source=prevqa2;Persist Security Info=True;User ID=pensiones;Password=pensiones" />
	</appSettings>
</configuration>